*.xrpt
*.exe
*.html
*.prj
*.wdb
*.cgc
*.cmd_log
*.lso
*.ngc
*.stx
*.syr
*.ngr
*.xst
*.log
*.xmsgs
*.cmd
*.tfi
*.xreport
*.projectmgr
*.dbg
*.dll
*.dat
isim/ALUtester_isim_beh.exe.sim/tmp_save/_1
*.c
*.obj
*.didat
*.sdb
*.pptx
*.class
*.java
*.bin
*.bgn
*.bit
*.drc
*.ncd
*.pad
*.pcf
*.ptwx
*.twx
*.unroutes
*.ut
*.xpi
*.gise
*.xwbt
*.map
*.txt
*.xml
*.tcl
*.debug
*.mrp
*.xise
*.ngd
*.bld
*.twr
*.ngm
*.csv
*.jou
*.in
*.out
*.ini
*.xbcd
*.sdbl
*.sdbx
*.lst
isim/UART_isim_beh.exe.sim/tmp_save/_1
isim/NEStester_isim_beh.exe.sim/tmp_save/_1
isim/pn_info
isim/CPU_isim_beh.exe.sim/tmp_save/_1
isim/CPUtester_isim_beh.exe.sim/tmp_save/_1